<h2>Projects</h2>

<div>
    <p><strong>MemStoreDotNet</strong></p>
    <p>MemStoreDotNet is an experiment in using Dictionaries to create a typed in-memory cache.</p>
    <p><a href="https://github.com/marcroche/MemStoreDotNet" target="_blank">View on GitHub</a></p>
</div>

<div>
    <p><strong>SPA MVC Framework</strong></p>
    <p>A bare-bones JavaScript SPA MVC framework using RequireJS, KnockoutJS and Sammy.</p>
    <p><a href="https://github.com/marcroche/spa-mvc-framework" target="_blank">View on GitHub</a></p>
</div>

<div>
    <p><strong>Ruby Micro Blog</strong></p>
    <p>Ruby Micro Blog is a rails application that uses AngularJS to create a rich SPA-esque user experience.</p>
    <p><a href="https://github.com/marcroche/ruby-micro-blog" target="_blank">View on GitHub</a></p>
</div>