.chart-container {
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
    background-color: #ACACAC;
    height: 49px;
    /*display: inline-block;*/
    /*position: relative;*/
    width: 100%;
    /*padding-bottom: 100%;*/
    vertical-align: middle;
    /*overflow: hidden;*/
}

.svg-content {
    /*display: inline-block;
    position: absolute;*/
    top: 0;
    left: 0;
}

button {
    background-color: #ACACAC;
    border: 1px solid #ACACAC;
    cursor: pointer;
}
