<div class="comment">
    <div class="add">
        <div class="left">
            <img width="65" height="65" src="http://www.gravatar.com/avatar/1234" />
        </div>
        <div class="left comment-form-container">
            <form name="newComment" data-ng-submit="createComment(newComment)" novalidate>
                <div>
                    <textarea id="commentContent" placeholder="leave a comment..." data-ng-model="newComment.content" required></textarea>
                </div>
                <div class="align-right">
                    <span class="error-message" data-ng-show="newCommentIsInvalid">* all fields required</span>
                    <!--<img class="valign-middle" data-bind="visible: showWaiting" src="/images/small-loader.gif" />-->
                    <div class="inputs">
                        <input type="text" placeholder="display name" data-ng-model="newComment.author" required />
                    </div>
                    <div class="inputs">
                        <input type="text" placeholder="email (never displayed)" data-ng-model="newComment.email" required />
                    </div>
                    <div class="inputs">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <ul data-ng-repeat="comment in comments">
        <li>
            <div class="left">
                <img width="65" height="65" class="left" data-bind="attr: { src: 'http://www.gravatar.com/avatar/' + emailHash }" />
            </div>
            <div class="left comment-form-container">
                <div>
                    <span class="author-display" data-ng-model="comment.author"></span>
                    -
                    <span class="publishDate-display" data-ng-model="moment(comment.date).format('MMM Do, YYYY')"></span>
                </div>
                <p class="content-display" data-ng-model="comment.content"></p>
            </div>
            <div class="clear"></div>
            <div class="spacer"></div>
        </li>
    </ul>
</div>