.chart-container {
    padding: 0px;
    margin: 0px;
    height: 49px;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    top: 0;
    left: 0;
}

button {
    border: 1px solid #A9A9A9; 
    background-color: #777777;
    color: #FFFFFF;
    margin: 0;
    padding: 2px;
    opacity: 1;
    width: 100px;
    cursor: pointer;
}